<%= render :partial => 'shared/sub_nav_top' %>

<div class="row container-fluid">
<div class='col-12'>
<h3> This is a test, pick Champion and you will be provided with test credit card information!</h3>
<p> All funds given support the small development team in improving Move-More and delivering a better experience for all of our community! </p> 
</div>
<div class = 'col-12'>
 <h4><strong>$40/Month </strong> </h4>
<% if user_signed_in? %>
<%= button_to 'Become a Champion', new_subscription_path(plan: "Champion $40/mo", plan_id: Rails.application.credentials.champion), class: "btn-primary btn-lg" %>
<% else %>
<%= link_to 'Subscribe', new_user_registration_path %>
<% end %>
</br>
</div>

<div class="col-12">
<h4><strong> $20/Month </strong></h4>
<% if user_signed_in? %>
<%= button_to 'Become a Warrior', new_subscription_path(plan: "Warrior $20/mo", plan_id: Rails.application.credentials.warrior), class: "btn-primary btn-lg" %>
<% else %>
<%= link_to 'Subscribe', new_user_registration_path %>
<% end %>
</br>
</div>

<div class="col-12">
<h4><strong> $10/Month </strong></h4>
<% if user_signed_in? %>
<%= button_to 'Become a Challenger', new_subscription_path(plan: "Challenger $10/mo", plan_id: Rails.application.credentials.challenger), class: "btn-primary btn-lg" %>
<% else %>
<%= link_to 'Subscribe', new_user_registration_path %>
<% end %>
</div>

</div>