<%= render :partial => 'shared/sub_nav_top' %>

<div class="row container-fluid">
<div class='col-12'>
<h3> Choose your level of support</h3>
<p> All funds given support the small development team in improving Move-More and delivering a better experience for all of our community! </p> 
</div>
<div class = 'col-12'>
 <h4><strong>$39.99/Month</strong> </h4>
<% if user_signed_in? %>
<%= button_to 'Become a Founder', new_subscription_path(plan: "Founder $39.99/mo", plan_id: Rails.application.credentials.founder), class: "btn-primary btn-lg" %>
<% else %>
<%= link_to 'Subscribe', new_user_registration_path %>
<% end %>
</br>
</div>

<div class="col-12">
<h4><strong> $14.99/Month </strong></h4>
<% if user_signed_in? %>
<%= button_to 'Become a Member', new_subscription_path(plan: "Member $14.99/mo", plan_id: Rails.application.credentials.member), class: "btn-primary btn-lg" %>
<% else %>
<%= link_to 'Subscribe', new_user_registration_path %>
<% end %>
</br>
</div>

<div class="col-12">
<h4><strong> $0/Month </strong></h4>
<% if user_signed_in? %>
<%= button_to 'Join the Community', new_subscription_path(plan: "Community $0/mo", plan_id: Rails.application.credentials.community), class: "btn-primary btn-lg" %>
<% else %>
<%= link_to 'Subscribe', new_user_registration_path %>
<% end %>
</div>

</div>