<div class= "container-fluid row" style="display: flex; justify-content: center;">
  <div class="embed-responsive embed-responsive-16by9 col-sm" >
    <iframe class="embed-responsive-item" src="<%=  lesson.video_url.blank? ? 'https://www.youtube.com/embed/JVN7OeOLMvM' : lesson.video_url %>"  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="container-fluid col-sm" style= "display: flex; justify-content: flex-start; align-items: center; flex-direction: column;">
            
    <p><strong> Overview: </strong><br> <%= lesson.details %></p>
      
  </div>
   
</div>

<hr>

<div class="container-fluid">
  <h3>
  Recomended Warm Up:
  <%= lesson.warm_up %>
  </h3>
</div>

<hr>

<div class="container-fluid">
<% lesson.challenges.each_with_index do |challenge,index| %> 

  
  <%= react_component("ChallengeInfo", { challenge: challenge,index: index}) %>

    <button class="btn tmc-bg-dk-blu tmc-white  btn-sm" type="button" data-toggle="collapse" data-target="#collapse-activity<%= index %><%= challenge.id %>" aria-expanded="false" aria-controls="collapse-activity<%= index %><%= challenge.id %>">
    <div style="white-space: pre;"><sub><small> &#x25bc;</small></sub>           See Activity            <sub><small>&#x25bc;</small></sub></div>
    </button> 
    
    <div class="collapse container-fluid" id= "collapse-activity<%= index %><%= challenge.id %>">
      <br>      
      <%= react_component("ChallengeFrame", { challenge: challenge,index: index}) %>
    </div>

 

  <hr>
<% end %>
</div>
