<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3 sticky-top">

  <div class="container-fluid">
  <span class="navbar-brand mb-0 h1">
    <img class="img-fluid" src="<%= image_path('MOVE-MORE-Logo-Invert-Alpha.png') %>" alt="Responsive Image" style="height: 50px; max-width: 100%;">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarList" aria-controls="navbarList" aria-expanded="false" aria-label="Toggle navigation">
    <a class="navbar-toggler-icon"></a>
    </button>
     
    </span>
    
    <div class="collapse navbar-collapse mr-auto" id="navbarList">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0" >
            <li class="nav-item"> 
                <a class="nav-link" href="/"> Home </a>
            </li>
            
            <li class="nav-item">
            <a class="nav-link" href=<%= "/profile/?id=" + current_user.id.to_s %> > Profile </a>
            </li>
            <% if !current_user.nil? && current_user_plan(current_user) != "challenger" %>
                <li class="nav-item"> 
                    <a class="nav-link" href="/challenges/index"> Challenges </a>
                </li>
                <li class="nav-item"> 
                    <a class="nav-link" href="/lessons/index"> Lessons </a>
                </li>
                <!-- <li class="nav-item disabled"> 
                    <a class="nav-link" href="#"> Courses </a>
                </li> -->
                <% if current_user.supervisor_role? or current_user.superadmin_role? %>
                <li class="nav-item">
                    <a class="nav-link" href="/admin"> Admin </a>
                </li>
                <% end %>
            <% end %>
        </ul>
    </div>

    <div class="navbar-nav ml-auto">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0" style= "display:flex; justify-content:space-between;">
            <% if current_user.nil? %>
            
                <li class="nav-item">
                    <a class="nav-link"><%= link_to new_user_registration_path do %> Sign Up <% end %></a>
                </li>
                <li class="nav-item"><a style="white-space:pre-wrap;">    </a></li>
                <li class="nav-item">
                    <a class="nav-link"><%= link_to new_user_session_path do %> Sign In <% end %></a>
                </li>        
                
            <% else %>
                <li class="nav-item>
                    <a class="nav-link"><%= link_to destroy_user_session_path, method: :delete do %> Log Out <% end %></a>
                </li> 
            <% end %>
        </ul>
    </div>
  </div>
</nav>