<%= form_with(model: lesson, local: true) do |form| %>

 
  <% if lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
        <% lesson.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author %>
  </div>

  <div class="field">
    <%= form.label :purpose %>
    <%= form.text_field :purpose %>
  </div>

  <div class="field">
    <%= form.label :tools %>
    <%= form.text_field :tools %>
  </div>

  <div class="field">
    <%= form.label :warm_up %>
    <%= form.text_field :warm_up %>
  </div>

  <div class="field">
    <%= form.label :details %>
    <%= form.text_area :details %>
  </div>

  <div class="field">



    <% @lesson.challenges.each_with_index do |challenge,index| %>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Activity <%= (index +1) %>: <%= challenge.activity_title %>
    </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

        <% @challenges.each do |availible_challenge| %>
        <a class="dropdown-item" href="#"><%= availible_challenge.activity_title %></a>
        <% end %>
      </div>


      <div class="input-group">
  <select class="custom-select" id="inputGroupSelect04">
    <option selected>Choose...</option>
    <% @challenges.each do |availible_challenges| %>
    <option value="<%= (index + 1)%>"> <%= availible_challenges.activity_title %> </option>
    <% end %>
  </select>
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button">Button</button>
  </div>
</div>
  </div>
    
    <% end %>
    
    <div class="field">
    <% @lesson.challenges.each_with_index do |challenge,index| %>
      <div class = "container">
      <%= form.label :@lesson.challenges[index] %><br />
      <%= form.select :challenge_id, options_for_select(Challenge.all.map{|c|[c.activity_title, c.id]}) %>
    </div>
    <% end %>
  </div>

  </div>

  <div class="field">
    <%= form.label :video_url %>
    <%= form.text_field :video_url %>
  </div>

  <div class="field">
    <%= form.label :image_url %>
    <%= form.text_field :image_url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
