
<%= render :partial => 'shared/nav_top' %>


<%= react_component("LessonInfo", { lessonID: @lesson.id,index: 0, listed: false}) %>

<hr>

<br>

<div class="container-fluid" >
<%= react_component("LessonFrame", { lessonID: @lesson.id, index: 0,}) %>
</div>

<nav class="navbar navbar-expand-md navbar-dark mb-3 tmc-bg-dk-blu" style="">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1"> <%= link_to 'Back', lessons_path %></span>
    <div class="navbar-nav ml-auto">
    <%= link_to 'Edit', edit_lesson_path(@lesson) %>
    </div>
  </div>
</nav>