<p id="notice"><%= notice %></p>

<%= render :partial => 'shared/nav_top' %>

<div class="container-fluid" style = "background-color: #00A1E0; color: white; display: flex; align-items: center;">
  <span>
    <h3 style= "color: white;"><%= @lesson.lesson_name %> </h3>
    <sup><em> By: <%= @lesson.author %> </em></sup>
  </span>
</div>

<br>

<%= render :partial => 'shared/lesson_info', locals: {lesson: @lesson}%>

<hr>

<br>

<%= render :partial => 'shared/lesson_frame', locals: {lesson: @lesson}%>

<nav class="navbar navbar-expand-md navbar-dark mb-3 tmc-bg-dk-blu" style="">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1"> <%= link_to 'Back', lessons_path %></span>
    <div class="navbar-nav ml-auto">
    <%= link_to 'Edit', edit_lesson_path(@lesson) %>
    </div>
  </div>
</nav>