<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1"> Movement Creative Challenges</span>
</nav>
 
<div class="card-deck">
<% @challenges.each do |challenge| %>
  <div class="col-sm-6">
      <div class="card w-40 border-primary mb-3" style = "max-width: 18rem;">
        <img class="card-img-cap" src="./assets/MC_Logo.png" alt="MC Logo">
          <div class="card-body">
            <h5 class="card-title"><%= challenge.activity_title %></h5>
            <p class="card-text"><%= challenge.purpose %></p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><small class = "muted text">Space: <%= challenge.space %></small></li>
              <li class="list-group-item"><small class = "muted text">Tools: <%= challenge.tools %></small></li>
              <li class="list-group-item"><small class = "muted text">Movemnts & Actions: <%= challenge.actions_movements %></small></li>
            </ul>
            <a href=<%= challenge_path(challenge)%> class="btn btn-primary">View Activity</a>
          </div>
        </div>
    </div>
    
  <% end %>
  </div>

 <div class="container">
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
            <th>Activity Title</th>
            <th>Purpose</th>
            <th>Space</th>
            <th>Goal</th>
            <th>Challenge</th>
            <th>Actions/Movements</th>
            <th>Tools</th>
            <th>Rules</th>
            <th>Video URL</th>
            <th>Image URL</th>
        </tr>
      </thead>
    <tbody>
    <% @challenges.each do |challenge| %>
        <tr>
        <td><%= challenge.activity_title %></td>
        <td><%= challenge.purpose %></td>
        <td><%= challenge.space %></td>
        <td><%= challenge.goal %></td>
        <td><%= challenge.challenge %></td>
        <td><%= challenge.actions_movements %></td>
        <td><%= challenge.tools %></td>
        <td><%= challenge.rules %></td>
        <td><%= challenge.video_url %></td>
        <td><%= challenge.image_url %></td>
        <td><%= link_to 'Show', challenge_path(challenge) %></td>
        </tr>
    <% end %>
    </table>
</div>


<button type="button" class="btn btn-outline-primary"><%= link_to 'New Challenge', new_challenge_path %></button>