<h1>Listing Challenges</h1>
 
<table border="1">
  <tr>
    <th>name</th>
    <th>description</th>
    <th>duration</th>
    <th>age_experience</th>
    <th>intensity</th>
    <th>activity_description</th>
    <th>coach_notes</th>
  </tr>
 
  <% @challenges.each do |challenge| %>
    <tr>
      <td><%= challenge.name %></td>
      <td><%= challenge.description %></td>
      <td><%= challenge.duration %></td>
      <td><%= challenge.age_experience %></td>
      <td><%= challenge.intensity %></td>
      <td><%= challenge.activity_description %></td>
      <td><%= challenge.coach_notes %></td>
      <td><%= link_to 'Show', challenge_path(challenge) %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'My Challenges', controller: 'challenges' %>
<%= link_to 'New Challenge', new_challenge_path %>