<h1>Listing Challenges</h1>
 
<table border="1">
  <tr>
    <th>Game Title</th>
    <th>Purpose</th>
    <th>Space</th>
    <th>Goal</th>
    <th>Core Mechanics</th>
    <th>Components</th>
    <th>Rules</th>
  </tr>
 
  <% @challenges.each do |challenge| %>
    <tr>
      <td><%= challenge.game_title %></td>
      <td><%= challenge.purpose %></td>
      <td><%= challenge.space %></td>
      <td><%= challenge.goal %></td>
      <td><%= challenge.challenge %></td>
      <td><%= challenge.core_mechanics %></td>
      <td><%= challenge.components %></td>
      <td><%= link_to 'Show', challenge_path(challenge) %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'My Challenges', controller: 'challenges' %>
<%= link_to 'New Challenge', new_challenge_path %>