<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1"> Movement Creative Challenges</span>
</nav>
 
 <div class="container">
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
            <th>Game Title</th>
            <th>Purpose</th>
            <th>Space</th>
            <th>Goal</th>
            <th>Core Mechanics</th>
            <th>Components</th>
            <th>Rules</th>
            <th>Video URL</th>
            <th>Image URL</th>
        </tr>
      </thead>
    <tbody>
    <% @challenges.each do |challenge| %>
        <tr>
          <td><%= challenge.game_title %></td>
          <td><%= challenge.purpose %></td>
          <td><%= challenge.space %></td>
          <td><%= challenge.goal %></td>
          <td><%= challenge.challenge %></td>
          <td><%= challenge.core_mechanics %></td>
          <td><%= challenge.components %></td>
          <td><%= challenge.rules %></td>
          <td><%= challenge.video_url %></td>
          <td><%= challenge.image_url %></td>
          <td><%= link_to 'Show', challenge_path(challenge) %></td>
        </tr>
    <% end %>
    </table>
</div>


<button type="button" class="btn btn-outline-primary"><%= link_to 'New Challenge', new_challenge_path %></button>