<%= form_with scope: :challenge, url: challenges_path, local: true do |form| %>

  <p>
    <%= form.label :activity_title %><br>
    <%= form.text_field :activity_title %>
  </p>
 
  <p>
    <%= form.label :purpose %><br>
    <%= form.text_field :purpose %>
  </p>
  <p>
    <%= form.label :space %><br>
    <%= form.text_field :space %>
  </p>
 
  <p>
    <%= form.label :goal %><br>
    <%= form.text_field :goal %>
  </p>
  <p>
    <%= form.label :challenge %><br>
    <%= form.text_field :challenge %>
  </p>
 
  <p>
    <%= form.label :actionsMovements %><br>
    <%= form.text_field :movementsActions %>
  </p>

  <p>
    <%= form.label :tools %><br>
    <%= form.text_field :tools %>
  </p>

   <p>
    <%= form.label :rules %><br>
    <%= form.text_field :rules %>
  </p>

    <p>
    <%= form.label :videoURL %><br>
    <%= form.text_field :videoURL %>
  </p>

  <p>
  <%= form.label :imageURL %><br>
  <%= form.text_field :imageURL %>
</p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', challenges_path %>