<%= form_with scope: :challenge, url: challenges_path, local: true do |form| %>

  <p>
    <%= form.label :game_title %><br>
    <%= form.text_field :game_title %>
  </p>
 
  <p>
    <%= form.label :purpose %><br>
    <%= form.text_field :purpose %>
  </p>
  <p>
    <%= form.label :space %><br>
    <%= form.text_field :space %>
  </p>
 
  <p>
    <%= form.label :goal %><br>
    <%= form.text_field :goal %>
  </p>
  <p>
    <%= form.label :challenge %><br>
    <%= form.text_field :challenge %>
  </p>
 
  <p>
    <%= form.label :core_mechanics %><br>
    <%= form.text_field :core_mechanics %>
  </p>

  <p>
    <%= form.label :components %><br>
    <%= form.text_field :components %>
  </p>

   <p>
    <%= form.label :rules %><br>
    <%= form.text_field :rules %>
  </p>

    <p>
    <%= form.label :video_url %><br>
    <%= form.text_field :video_url %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', challenges_path %>