<%= render :partial => 'shared/nav_top' %>

 <div class="nested-row" style="padding: 5px;">
  <%= react_component("ChallengeInfo", {challengeID: @challenge.id, index: 0}) %>  

  <%= react_component("ChallengeFrame", {challengeID: @challenge.id, index: 0}) %>  
</div>

  
<nav class="navbar navbar-expand-md navbar-dark mb-3 tmc-bg-dk-blu" style="background-color: tmc-bg-grey;">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1"> <%= link_to 'Back', challenges_path %></span>
    <div class="navbar-nav ml-auto">
    <%= link_to 'Edit', edit_challenge_path(@challenge) %>
    </div>
  </div>
</nav>
