
<p>
  <strong>Name:</strong>
  <%= @challenge.name %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @challenge.description %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @challenge.duration %>
</p>

<p>
  <strong>Age_experience:</strong>
  <%= @challenge.age_experience %>
</p>

<p>
  <strong>Intensity:</strong>
  <%= @challenge.intensity %>
</p>

<p>
  <strong>Activity_description:</strong>
  <%= @challenge.activity_description %>
</p>

<p>
  <strong>Coach_notes:</strong>
  <%= @challenge.coach_notes %>
</p>
 
<%= link_to 'Back', challenges_path %>