
<p>
  <strong>Game Title</strong>
  <%= @challenge.activity_title %>
</p>
 
<p>
  <strong>Purpose:</strong>
  <%= @challenge.purpose %>
</p>

<p>
  <strong>Space</strong>
  <%= @challenge.space %>
</p>

<p>
  <strong>Goal</strong>
  <%= @challenge.goal %>
</p>

<p>
  <strong>Challenge:</strong>
  <%= @challenge.challenge %>
</p>

<p>
  <strong>Actions / Movements:</strong>
  <%= @challenge.actions_movements %>
</p>

<p>
  <strong>Components:</strong>
  <%= @challenge.tools %>
</p>

<p>
  <strong>Rules:</strong>
  <%= @challenge.rules %>
</p>

<p>
  <strong>Video:</strong>
  <%= @challenge.video_url %>
</p>

<p>
  <strong>Image:</strong>
  <%= @challenge.image_url %>
</p>
 
<%= link_to 'Back', challenges_path %>